<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор земельных работ</title>
    <link rel="stylesheet" href="/static/styles/materials_style.css">
    <link rel="stylesheet" href="/static/styles/material_card.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/materials" class="logo-link">
                <img src="/static/img/main_image.png" alt="Главная страница" class="logo">
            </a>
        </div>
    </header>
    
    <main class="main-content">
        <div class="pit-button-container">
            {{if .hasActivePit}}
            <a href="/materials/pits/{{ .pitId}}" class="pit-button-link">
            {{end}}
                <button class="pit-button {{if not .hasActivePit}}disabled{{end}}" {{if not .hasActivePit}}disabled{{end}}>
                    <img src="/static/img/basket_icon.png" alt="Котлован" class="pit-icon">
                    <span class="pit-count">{{ .pitCount }}</span>
                </button>
            {{if .hasActivePit}}
            </a>
            {{end}}
        </div>

        <section class="search-section">
            <form action="{{if .materials}}/materials{{else}}/materials{{end}}" method="GET" class="search-form">
                <input type="text" name="materialTitle" placeholder="Поиск грунта" value="{{ .materialTitle }}" class="search-input">
                <button type="submit" class="search-button">🔍</button>
            </form>
        </section>
        

        <section class="materials-section">
            <div class="materials-container">
                {{ if .materials }}
                    {{ range .materials }}
                    <div class="material-card">
                        <div class="material-image">
                            <img src="{{ .ImageURL }}" alt="{{ .Title }}">
                        </div>
                        <div class="material-content">
                            <h3 class="material-title">{{ .Title }}</h3>
                            <p class="material-coefficient">Коэффициент разрыхления: <span>{{ .Coefficient }}</span></p>
                            <div class="material-actions">
                                <form action="/materials/{{ .ID }}/add-to-pit" method="POST" class="add-to-pit-form">
                                    <button type="submit" class="add-to-pit-button">Добавить в котлован</button>
                                </form>
                                <a href="/materials/{{ .ID }}" class="material-details">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </section>
    </main>
</body>
</html>